h1 {
  text-shadow: 2px 2px 5px black;
}
h1 {}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 8px;
    background-color:lightgrey;
  }
  header {font-size: 35px
  }
body {
background-colr: grey;
background-position: center;
}
